<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1VSjwSNVT-Tq_z5ssEMdee4hKf-vES6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>618571096903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobile</string>
	<key>PROJECT_ID</key>
	<string>mobile-dzung</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-dzung.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618571096903:ios:23e62b01ddf3b6ef19a262</string>
	<key>DATABASE_URL</key>
	<string>https://mobile-dzung-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>